<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="_64Inject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <_64Inject.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ResultPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en-EU</value>
            </setting>
            <setting name="Help" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ROMPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ConfigFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ROMCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfigFileCheck" serializeAs="String">
                <value>True</value>
            </setting>
        </_64Inject.Properties.Settings>
    </userSettings>
</configuration>
